USE [master]
GO
/****** Object:  Database [HotelBase]    Script Date: 08.01.2024 21:38:39 ******/
CREATE DATABASE [HotelBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBase', FILENAME = N'E:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelBase_log', FILENAME = N'E:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelBase]
GO
/****** Object:  User [ProgramUser]    Script Date: 08.01.2024 21:38:39 ******/
CREATE USER [ProgramUser] FOR LOGIN [ProgramUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ProgramUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ProgramUser]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 08.01.2024 21:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[IDBooking] [int] NOT NULL,
	[IDRoom] [int] NOT NULL,
	[KeyRoom] [nvarchar](50) NOT NULL,
	[BookingWhen] [date] NOT NULL,
	[BookingIn] [date] NOT NULL,
	[BookingOut] [date] NOT NULL,
	[EmailOrPhone] [nvarchar](100) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[IDBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelRooms]    Script Date: 08.01.2024 21:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRooms](
	[IDRoom] [int] NOT NULL,
	[IDHotel] [int] NOT NULL,
	[Cost] [int] NOT NULL,
	[Coments] [text] NOT NULL,
	[RoomsCount] [int] NOT NULL,
	[TakedTimes] [text] NOT NULL,
	[ImageRoom] [image] NULL,
 CONSTRAINT [PK_HotelRooms] PRIMARY KEY CLUSTERED 
(
	[IDRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 08.01.2024 21:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[IDHotel] [int] NOT NULL,
	[Location] [nvarchar](250) NOT NULL,
	[RoomsCount] [int] NOT NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[IDHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bookings] ([IDBooking], [IDRoom], [KeyRoom], [BookingWhen], [BookingIn], [BookingOut], [EmailOrPhone]) VALUES (17773648, 0, N'62739', CAST(N'2024-01-08' AS Date), CAST(N'2024-01-12' AS Date), CAST(N'2024-01-13' AS Date), N'452424;ytutyu')
INSERT [dbo].[Bookings] ([IDBooking], [IDRoom], [KeyRoom], [BookingWhen], [BookingIn], [BookingOut], [EmailOrPhone]) VALUES (93757752, 0, N'15153', CAST(N'2024-01-08' AS Date), CAST(N'2024-01-09' AS Date), CAST(N'2024-01-11' AS Date), N'12323;qwewqe@gmail.com')
GO
INSERT [dbo].[Hotels] ([IDHotel], [Location], [RoomsCount]) VALUES (1, N'г. Москва, ул Пушкина, д. Колотушкина', 3)
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_HotelRooms] FOREIGN KEY([IDRoom])
REFERENCES [dbo].[HotelRooms] ([IDRoom])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_HotelRooms]
GO
ALTER TABLE [dbo].[HotelRooms]  WITH CHECK ADD  CONSTRAINT [FK_HotelRooms_Hotels] FOREIGN KEY([IDHotel])
REFERENCES [dbo].[Hotels] ([IDHotel])
GO
ALTER TABLE [dbo].[HotelRooms] CHECK CONSTRAINT [FK_HotelRooms_Hotels]
GO
USE [master]
GO
